*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


main{
  min-height: 90vh;
  padding-top: 15vh;
}

.footer{
  background-color: black;
  height: 10vh;
  width: 100%;
  bottom: 0;
  padding-top: 20px;


}
.footerManu{
  display: flex;
  justify-content: center;
}
.footerManu a{
  text-decoration: none;
  color: whitesmoke;
  padding: 0 20px;
}

.alert{
  width: 100%;
  height: 4vh;
  background-color: gray;
}
.alert p{
  font-weight: 300;
  font-size: 20px;
  text-transform: capitalize;
  padding-left: 10px;
}

.about{
  height: 500px;
  width: 60%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
}
.aboutBox h1{
  padding: 20px;
  text-align: center;
}

.contact{
  line-height: 8vh;
  height: 500px;
  width: 60%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
}
.contact h1{
  padding: 20px;
  text-align: center;
}


